<?xml version="1.0" encoding="UTF-8"?>
<!-- 不写会报错 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.miaosha.dao.MiaoshaUserDao">
    <select id="getById" resultType="com.hand.miaosha.domain.MiaoshaUser">
        select * from miaosha_user where id = #{id};
    </select>
</mapper>